*{margin: 0; padding: 0;  color: #fff; box-sizing: border-box; }
ul ,li{list-style:none;}
a{text-decoration: none; color: #fff;}

#wrap{ margin-left: auto; margin-right: auto; background-color: #0d0d0d; }
/*header*/
#header{width: 1340px; height: 800px; margin: 0 auto; position: relative;}
.header_top{
    width: 100%; height: 150px; display: flex; 
    background-color:#0d0d0d;
    position: relative;
}
.header_top h1 img{width: 250px; padding-left:40px; padding-top: 50px;}
.header_top .gnb{display: flex; }
.header_top .gnb li{
    margin-top: 80px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
.header_top .gnb li a:hover{background-color: #fff0dee3; color: #0d0d0d; transition: 0.8s ;}
.header_top .icon ul{display: flex;  position: absolute; right:0; top: 64px;}
.header_top .icon li{padding: 10px 15px; } 
.header_top .icon li:hover{background-color: #ffffff28;}
.header_top .icon img{width: 30px; height: 30px;}
.headerback{
    background-image: url(../images/headerback.png);
    background-size: cover;
    position: relative;
    width: 100%; height: 800px;
}
.headerback p{
    font-size: 28px; position: absolute; top: 470px; left: 230px;
    background-color: #6a5e55; padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    display: block;
}
.headerback p:hover{background-color: #e3cebebb; color: #fff;}

.headerslide{width: 800px; height: 800px; position: absolute; left: 40%; top: 185px; z-index: 999;}
.headerslide img{width: 700px; height: 800px; }
.headerslide .headerimg1{width: 700px; height: 800px;  margin-left: 100px;}
.headerslide .headerimg2{width: 700px; height: 800px;  margin-left: 100px; display: none;} 

.h_border{width: 100%; height: 3px; background-color: #ad916b98; position: absolute; top:800px;}
.play_btn{position: absolute; top: 780px; left: 200px;}


/*contents*/
#contents{width: 100%;}
.warranty{width:1340px; height: 100px; margin-top: 300px; margin-left: auto; margin-right: auto;}
.warranty ul{display: flex; justify-content: space-between;}
.warranty li{font-size: 24px; padding: 20px; display: block; margin-right: 30px; font-weight: bold;}

.spot{
    margin-top: 50px;
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/logo02.png);
    background-repeat: no-repeat; background-size: cover;
    display: flex;
}
.spot>div{
    position: relative;
}
.spot h3{line-height: 32px; font-size: 24px;}
.spot_txt1{width: 40%; height: 400px; text-align: center; padding: 150px;}
.spot_txt2{width: 30%; height: 400px; text-align: center; padding: 155px;}
.spot_txt3{width: 40%; height: 400px; text-align: center; padding: 175px;}


.spot span{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f6f1b5;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -100px;
    margin-top: -100px;
    mix-blend-mode: overlay;
    filter: blur(7px);
    animation: 5s alternate infinite;
}

.spot_txt1 span{
    animation-name:spot1
}

.spot_txt2 span{
    animation-name:spot2
}

.spot_txt3 span{
    animation-name:spot3
}

@keyframes spot1{
    0%{
        transform: translate(-10px,0);
    }

    40%{
        transform: translate(80px, 0);
    }

    60%{
        transform: translate(-20px, 80px);
    }

    80%{
        transform: translate(90px, 80px);
    }
}


@keyframes spot2{
    0%{
        transform: translate(0px,-10px);
    }

    40%{
        transform: translate(0px, 30px);
    }

    60%{
        transform: translate(60px, -40px);
    }

    80%{
        transform: translate(-20px, 60px);
    }
}

@keyframes spot3{
    0%{
        transform: translate(0px,0px);
    }

    40%{
        transform: translate(-20px, -30px);
    }

    60%{
        transform: translate(-20px, 80px);
    }

    80%{
        transform: translate(60px, -20px);
    }
}


/*banner*/
#banner{
    margin-top: 150px;
    width: 1420px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    background-image: url(../images/banner01.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/*our favorites*/
#item{
    width: 100%;
    height: 700px;
    margin-top: 150px;
    background-color: #fdfdfdd0;
}
#item .itemWrap{
    height: 600px;
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
}
#item .itemWrap h3{
    font-size: 36px;
    color: #333;
    text-align: center;
    display:block;
    padding-top: 60px;
    padding-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#item .imgbox{display: flex; justify-content: space-between;}

.img1{width: 400px; height: 500px; position: relative;}
.img1 h4{display: inline-block;position: absolute;top: 390px;left: 157px;font-weight: bold;font-size: 20px;color: #333;}

.img1 img{position: absolute;left: 60px;top: 40px;}
.img01-1{display: none;}
.imgbtn{position: absolute; top: 440px; left: 173px;}
.btnimg01{width: 25px; height: 25px; background-color: #000; border-radius: 50%;}
.btnimg01-1{width: 25px; height: 25px; background-color: #554228; border-radius: 50%;}


#item .itemWrap .img2{width: 400px; height: 500px; position: relative;}
.img2 h4{display: inline-block;position: absolute;top: 390px;left: 157px;font-weight: bold;font-size: 20px;color: #333;}

.img2 .img02{position: absolute;left: 60px;top: 120px;}
.img02-1{display: none;}
.img02-2{display: none;}
.imgbtn2{position: absolute; top: 440px; left: 173px;}
.btnimg02{width: 25px; height: 25px; background-color:#000; border-radius: 50%;}
.btnimg02-1{width: 25px; height: 25px; background-color:#faefe0; border-radius: 50%;}
.btnimg02-2{width: 25px; height: 25px; background-color:#642c46; border-radius: 50%;}


#item .itemWrap .img3{width: 400px; height: 500px; position: relative;}
.img3 img{position: absolute;left: 90px;top: 40px;}
.img3 h4{display: inline-block;position: absolute;top: 390px;left: 120px;font-weight: bold;font-size: 20px;color: #333;}



/*cant decide*/
.ctxt{width: 1340px;
     height: 400px; 
     margin-left: auto;
    margin-right: auto; 
    margin-bottom: 100px;
    margin-top: 50px;

}
.ctxt_tit{
    width: 600px;
    margin: 0 auto;
}
.ctxt h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    display:block; 
    font-size: 36px; color:#fff;
    text-align: center;
    padding-top: 60px;
}
.ctxt p{color: #fff; 
    font-size: 20px; text-align: center; 
    display: block; padding-top: 70px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.ctxt h4{
    display:block; 
    font-size: 28px;
    text-align: center;
    padding: 15px;
    background-color: #4d463f;
    margin-top: 50px;
}
.ctxt h4:hover{background-color: #6a5e55;}


/*con*/
.con{width: 1340px; height: 1200px;
     margin: 0 auto;
    position: relative; background-color: #0d0d0d;
}
.con img{width: 800px; height: 1000px;position: absolute; left: 50%; transform: translateX(-50%);}
.con h5{ font-size: 20px; font-weight: bold; padding-bottom: 10px;}
.con p{font-size: 18px; color: #ad916b; line-height: 30px; font-weight: bold;}
.con1{
    position: absolute; 
    right:200px;
    top: 50px;
}
.con2{
    position: absolute;
    left: 200px;
    top:400px;
}
.con3{
    position: absolute;
    right: 200px;
    top: 750px;
}

/*footer*/
.f_slide{
    position: relative;
    overflow: hidden;
    margin-bottom: 300px;
}
.f_slide ul{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.f_slide li{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.f_slide .slide1{background-image: url(../images/slide01.png); background-repeat: no-repeat; background-size: cover;}
.f_slide .slide2{background-image: url(../images/slide02.png); background-repeat: no-repeat; background-size: cover;}
.f_slide .slide3{background-image: url(../images/slide03.png); background-repeat: no-repeat; background-size: cover;}


#footer{
    width: 1340px;
    height: 1000px;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#footer .f_gnb {display: flex;}
#footer .f_gnb > li{text-align: center;}
#footer .f_gnb > li > a{
    display: inline-block;
    font-size: 24px;
    position: relative;
    padding: 20px 110px;    
}
#footer .f_gnb > li:last-child{padding-left:0 ;}
#footer .f_sub > ul{
    position: absolute;
    top: 60px;
    left: 20px;
}
#footer .f_sub li > a{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: #6a5e55;
    line-height: 34px;
}
#footer .f_sub li > a:hover{border: 1px solid #ad916b;}
.f_logo{
    padding-top: 50px;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}
.f_logo img{
    width: 250px;
    padding: 10px;
}
.f_bottom{
    text-align: center;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #ad916b;
    padding-bottom:50px ;
}



